				<li id="main" class="start">
					<a href="/main/">
						<i class="fa fa-home"></i>
						<span class="title">
							主页
						</span>
						<span class="selected">
						</span>
					</a>
				</li>
				<li id="user_manage">
					<a href="javascript:;">
						<i class="fa fa-user"></i>
						<span class="title">
							用户管理
						</span>
						<span class="arrow ">
						</span>
					</a>
					<ul class="sub-menu">
						<li id="chpasswd">
							<a href="/chpasswd/">
								<i class="fa"></i>
								修改密码
							</a>
						</li>
					</ul>
				</li>
				<li id="assets">
					<a href="javascript:;">
						<i class="fa fa-truck"></i>
						<span class="title">
							资产管理
						</span>
						<span class="arrow">
						</span>
					</a>
					<ul class="sub-menu">
						<li id="assets_asset">
							<a href="/assets_asset/">
								<span class="title">
									资产出入库
								</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="title">
									员工资产
								</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="title">
									资产统计图
								</span>
							</a>
						</li>
						<li>
							<a href="">
								<span class="title">
									出入库记录
								</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:;">
						<i class="fa fa-book"></i>
						<span class="title">
							运维审计
						</span>
						<span class="arrow ">
						</span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="">
								 操作日志
							</a>
						</li>
					</ul>
				</li>
				<li id="monitor">
					<a href="javascript:;">
						<i class="fa fa-eye"></i>
						<span class="title">
							监控
						</span>
						<span class="arrow ">
						</span>
					</a>
					<ul class="sub-menu">
						<li id="nagios">
							<a href="/nagios/">
								 nagios
							</a>
						</li>
						<li id="zabbix">
							<a href="/zabbix/">
								 zabbix
							</a>
						</li>
					</ul>
				</li>